<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,38},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,240},{38,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,11}}</string>
                <key>sourceSize</key>
                <string>{38,11}</string>
            </dict>
            <key>arrow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,26},{39,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,10}}</string>
                <key>sourceSize</key>
                <string>{39,10}</string>
            </dict>
            <key>arrowdrug1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{8,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,7}}</string>
                <key>sourceSize</key>
                <string>{8,7}</string>
            </dict>
            <key>arrowdrug2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,48},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>arrowdrug3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,48},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>arrowdrug4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,60},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>arrowdrug5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,240},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>arrowfire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,48},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>arrowfire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,240},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>arrowfire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>arrowfire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>arrowfire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,240},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>hp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{44,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,8}}</string>
                <key>sourceSize</key>
                <string>{44,8}</string>
            </dict>
            <key>hp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,12},{44,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,6}}</string>
                <key>sourceSize</key>
                <string>{44,6}</string>
            </dict>
            <key>hp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,20},{42,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,4}}</string>
                <key>sourceSize</key>
                <string>{42,4}</string>
            </dict>
            <key>hpbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,222},{47,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,16}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,181},{50,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,126},{50,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>player3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,71},{50,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>player4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{50,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>player5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{50,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>player6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{50,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>player7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{50,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>player8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{50,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>playerarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>playerbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88e61f4a44cf44c1d7818093fc7f45ed:a586dc866b69a014520594a437c46804:3e2d82d601d6a641d18b155f951de2c4$</string>
            <key>textureFileName</key>
            <string>texture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
